*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #faf9f5;
    font-family: 'Questrial', sans-serif; 
    padding: 1% 2% 2% 3%;
}
/*************home section start****************/
#home{
    height: auto;
    letter-spacing: .2rem;
    text-align: center;
}
#home h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}
 hr{
    margin: auto;
    width: 50%;
}
#home p{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
}
img{
    height: auto;
    width: 100%;

}
.box{
    padding: 3rem 0 0 0;
    text-align: center;
}
.box .eye{
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 25px rgba(0,0, 0, 2),
                inset 0 0 10px #faf9f5,
                inset 0 0 15px #faf9f5;
    display: inline-block;
    height: 3rem;
    margin: 0px 10px;
    position: relative;
    width: 3rem;
}
.box .eye::before{
    background-color: #000;
    border-radius: 50%;
    border:5px solid  #e6dcb8;
    box-sizing: border-box;
    content: '';
    height: 1rem;
    left: 35%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 1rem;
  
}
/* .angle{
    float: right;
    margin: 1rem 3rem 0 3rem;
    background-color: #000;
    color: #fff;
    transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 25px 40px 0 3rem;
    
} */
span{
    position: relative;
    float: right;
    margin: 1rem -2rem 0 ;
    background-color: #000;
    color: #fff;
    transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 15.5px 39.4px ;
}
#home .fas{

    animation: animate 1s linear infinite;
    color: #fff;
}
@keyframes animate{
    0%
    {
        transform: translateY(-10px);
    }
}
/*************home section end****************/


/****************Navigation Bar**********************/
nav{
    float: right;
    text-align: center;
    margin: 3.5rem -1.5rem;
    background-color: #000;
    color: white;
    font-size: 1.2rem;
    border-radius: 0;
    
    
}
.nav-active {
    position: fixed;
     top:-3rem;
    right:5.6rem;
  }
nav .navbarItem {
    list-style: none;
    
}
.navbarItem:hover{
    
}
nav ul li{
    margin: auto;
    padding: 20px 4px;
    
}
nav .navbarLink{
    text-decoration: none;
    color: #fff;
}
nav li:hover{
    background-color: #e6dcb8;
}
#profile{
    margin: 5% 2%;
    text-align: center;
    height: 100vh;
    background-color: #fff;
    border-radius:10px;
}