*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #faf9f5;
    font-family: 'Questrial', sans-serif; 
    padding: 1% 2% 2% 3%;
}
/*************home section start****************/
#home{
    height: auto;
    letter-spacing: .2rem;
    text-align: center;
}
#home h1{
    margin-bottom: 1rem;
    font-size: 3rem;
}
 hr{
    margin: auto;
    width: 50%;
}
#home p{
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 100;
}
img{
    height: auto;
    width: 100%;

}
.box{
    padding: 4rem 0 0 0;
    text-align: center;
}
.box .eye{
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 25px rgba(0,0, 0, 2),
                inset 0 0 10px #faf9f5,
                inset 0 0 15px #faf9f5;
    display: inline-block;
    height: 3rem;
    margin: 0px 10px;
    position: relative;
    width: 3rem;
}
.box .eye::before{
    background-color: #000;
    border-radius: 50%;
    border:5px solid  #e6dcb8;
    box-sizing: border-box;
    content: '';
    height: 1rem;
    left: 35%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    width: 1rem;
  
}
/* .angle{
    float: right;
    margin: 1rem 3rem 0 3rem;
    background-color: #000;
    color: #fff;
    transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 25px 40px 0 3rem;
    
} */
span{
    position: relative;
    float: right;
    margin: 1rem -2rem 0 ;
    background-color: #000;
    color: #fff;
    transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 15.5px 39.4px ;
}
#home .fas{

    animation: animate 1s linear infinite;
    color: #fff;
}
@keyframes animate{
    0%
    {
        transform: translateY(-10px);
    }
}
/*************home section end****************/


/****************Navigation Bar**********************/
nav{
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    margin: 3.5rem 3rem;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border-radius: 1rem;
    padding: .5rem;
    
    
}

.nav-active {

  }
nav .navbarList {
    list-style: none;
    
}
.navbarList:hover{
    
}
nav ul li{
    margin: auto;
    padding: 20px 4px;
    text-transform: capitalize;
}
nav .navbarLink{
    text-decoration: none;
    color: #fff;
    display: block;
}
nav li:hover{
    background-color: #e6dcb8;
}
.toogle{
    display: none;
}
/* profile */
#profile{
    margin: 5% auto;
    text-align: center;
    height: auto;
    background-color: #fff;
    border-radius:10px;
}
.profile-box{
    padding:2% 11%;
}
#profile h1{
    letter-spacing: 1px;
    font-size: 3.5rem;
    font-family: 'Open Sans', sans-serif;
    margin: 1rem auto;
}
.paragraph{
    font-size: 1.1rem;
   
    letter-spacing: 1px;
    margin-bottom: 3rem;
}
#profile hr{
    width: 100%;
    margin-bottom: 3rem;
}
#profile h3{
    text-align: left;
}
.about-me{
    text-align: left ;
    
}
.content{
    margin: 1rem 0 ;
    line-height: 1.7rem;
    width: 88%;
}
.rana-img{
    text-align: center;
    border-radius: 7.8rem;
    border: 1rem solid #e6dcb8;
}
.details{
    text-align: left ;
}
.details h5{
    margin: 1rem auto 0;
    font-weight: 600;
}

@media (max-width: 910px){
    nav{
     justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    margin:0 1rem 2rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0 ;
    border-radius: 0;
    z-index: 99;
      transition: all 1s;
   } 
 .navbarList{
    text-align: center !important;
     align-items: center !important;
    margin: 0px;
    padding:.5rem 1rem;
    width: 100%;
    flex-direction: column;
    display: flex;
     transition: all 1s;
}
.navbarItem{
    list-style: none;
    text-align: center;
    align-items: center;
     transition: all 1s;
}
.navLink{
    display: none;
}
.navbarLink{
        text-decoration: none;
        color: white;
        display: block;
        font-size: 20px;
        padding: .5rem 1rem;
        text-align: center;
}
.toogle{
    display: flex;
}
.toggle-button{
    position: absolute;
    top: 1rem;
    right: 1rem;;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 0;
    align-items: center;
}
.toggle-button .bar{
    color: #fff;
    font-size: 2rem;
    top: 0;
    text-align: center;
   
} 
.toggle-button:hover{
    text-decoration: none;
    list-style: none;
}
.navLink.active{
        display: flex;
         transition: all 1s;
    }
    .navbarLink.active{
    color: #c4c2c3;
    border-bottom: 2px solid;
}
  .navbarItem{
        text-align: center;
    }
}